.__page_auth {
    min-width: 100vw;
    min-height: 100vh;
    // background: linear-gradient(179.53deg, #f5f6fa -2.35%, #fff -2.34%, rgb(255, 51, 0, 8%) 99.2%);
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;

    ._box {
        margin: 0 1.5em;
        width: 500px;
        padding: 32px;    
    }
}

._box{
    position: relative;
    background-color: #fff;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    border-radius: 8px;

    .form {
        label {
            font-size: 12px;
            font-weight: 500;
            color: #8e8e8e;
        }
        .input {
            box-sizing: border-box;
            position: relative;
            color: rgba(0, 0, 0, .85);
            font-size: 14px;
            line-height: 1.5715;
            background-color: #fff;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            &:focus-within {
                outline: 1px solid #85a5ff;
            } 
            
            input {
                transition: all .3s;
                border: none;
                background: transparent;
                width: 100%;
                padding: 4px 11px;
                outline: none;
            }
            input:autofill {
                background: none;
            }
            input::placeholder {
                color: #b9b9b9;
            }
            .toggle {
                margin: 0 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: rgba(0, 0, 0, .45);
            
                &:hover {
                    color: rgba(0, 0, 0, .85);
                }
                svg {
                    font-size: 18px;
                    transform: translate(2px, 2px);
                }
            }
        }
    }
}

